.margin {
    width: auto;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;


    .content {
        height: auto;
        line-height: 200%;
        font-weight: 600;
        font-family: 'Poiret One', cursive;
        color: black;


        h2 {
            text-transform: uppercase;

        }


        .paragraph {
            text-align: center;
            font-size: 1.1rem;

            span {
                font-family: 'Silkscreen', 'sans-serif';
                font-size: 1rem;
                color: rgb(70, 70, 70);
            }

            .link-margin {
                font-size: 1.5rem;
                color: rgb(70, 70, 70);
                text-decoration: underline;
            }
        }

        .info {
            text-align: right;

            .name {
                font-family: 'Montserrat', cursive;
                font-size: 1.5rem;

                .github-i {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }

            font-family: 'Silkscreen',
            'sans-serif';
            color: rgb(70, 70, 70);

            a {
                color: black;
                width: 10px;
                transition: opacity 0.2s ease-in-out;
            }

            a:hover {
                opacity: 0.8;
            }
        }
    }
}

//Iphone
@media screen and (max-width: 350px) {
    .margin {
        height: 70vh;

        h2 {
            font-size: 1.2rem;
        }

        .content {
            width: 100vw;
            margin: 1rem;
            font-size: .8rem;
        }
    }
}

//Iphone
@media screen and (min-width: 351px) and (max-width: 599px) {
    .margin {
        height: 70vh;

        h2 {
            font-size: 1.2rem;
        }

        .content {
            width: 100%;
            margin: 1rem;
            font-size: .8rem;
        }
    }
}

//Ipad and small tablet 
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .margin {
        height: 50vh;

        .content {
            width: 30rem;
            font-size: .8rem;
        }
    }
}

// Ipad pro 
@media screen and (min-width: 1023px) and (max-width: 1919px) {
    .margin {
        height: 40vh;

        .content {
            width: 45rem;
            font-size: .9rem;
        }
    }
}

//desktop 
@media screen and (min-width: 1920px) {
    .margin {
        height: 50vh;

        .content {
            width: 50rem;
            font-size: .9rem;
            line-height: 200%;
        }
    }
}