.home {
    position: relative;
    height: 200vh;
    font-family: 'Montserrat', sans-serif;
    background: #e0e0e0;

    .main-title {
        height: 100vh;
        background: white;

        h1 {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 1rem;
            font-family: 'Poiret One', cursive;
            white-space: nowrap;
            color: #2e2e2e;
            z-index: 1000;

            span {
                font-family: 'Silkscreen', 'sans-serif';
            }
        }

        img {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            font-family: 'Montserrat', sans-serif;
            padding: 1rem;
            color: #2e2e2e;
            z-index: 1000;
            box-sizing: border-box;
        }
    }

    .banner {
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        // display: none;
        img {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            height: 100vh;
            width: 100%;
            overflow: hidden;
            object-fit: cover;
            box-sizing: border-box;
        }

        .text-at-bottom {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 600;
            color: #000000;
            z-index: 10;

            p {
                letter-spacing: .2rem;

                .icon {
                    animation: bouncing .6s ease-in-out;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }

                @keyframes bouncing {
                    from {
                        transform: translateY(10px);
                    }

                    to {
                        transform: translateY(-10px);
                    }
                }
            }
        }
    }
}

//Iphone
@media screen and (max-width: 350px) {
    .main-title {
        h1 {
            font-size: .8rem;
            letter-spacing: .2rem;
        }

        img {
            height: 15rem;
        }
    }

    .banner {


        .text-at-bottom {
            bottom: 4rem;

            p {
                font-size: .8rem;
            }

            span {
                font-size: .5rem;
                letter-spacing: .1rem;
            }
        }
    }
}

//Iphone
@media screen and (min-width: 351px) and (max-width: 599px) {
    .main-title {
        h1 {
            font-size: .8rem;
            letter-spacing: .2rem;
        }

        img {
            height: 25rem;
        }
    }

    .banner {


        .text-at-bottom {
            bottom: 4rem;

            p {
                font-size: 1rem;
            }

            span {
                font-size: .6rem;
                letter-spacing: .1rem;
            }
        }
    }
}

//Ipad and small tablet 
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .main-title {
        h1 {
            font-size: 1.2rem;
            letter-spacing: .6rem;
        }

        img {
            height: 30rem;
        }
    }

    .banner {


        .text-at-bottom {
            bottom: 6rem;

            p {
                font-size: 1.6rem;
            }

            span {
                font-size: .8rem;
                letter-spacing: .3rem;
            }
        }
    }
}

// Ipad pro 
@media screen and (min-width: 1023px) and (max-width: 1919px) {
    .main-title {
        h1 {
            font-size: 1.8rem;
            letter-spacing: .8rem;
        }

        img {
            height: 40rem;
        }
    }

    .banner {


        .text-at-bottom {
            bottom: 6rem;

            p {
                font-size: 2rem;
            }

            span {
                font-size: .8rem;
                letter-spacing: .3rem;
            }
        }
    }
}

//desktop 
@media screen and (min-width: 1920px) {
    .main-title {
        h1 {
            font-size: 2rem;
            letter-spacing: 1rem;
        }

        img {
            height: 40rem;
        }
    }

    .banner {


        .text-at-bottom {
            bottom: 6rem;

            p {
                font-size: 2rem;
            }
        }
    }
}