.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    font-size: 1.2rem;

    h2 {
        font-family: 'Silkscreen', 'sans-serif';
    }

    a {
        color: black;
        font-size: 1.5rem;

        :hover {
            opacity: 0.8;
        }
    }
}